


// Устройства XX-Large (большие настольные компьютеры, 1400 пикселей и выше)
@media screen and (max-width: 1400px) {};

// Устройства X-Large (большие настольные компьютеры, 1200 пикселей и выше)
@media screen and (max-width: 1200px) { };

// Устройства Large (настольные компьютеры, 992 пикселей и выше)
@media screen and  (max-width: 992px) {
    .section-inner{
        max-width: 900px;
    }
    .section-inner-header{
        max-width: 900px;
    }
    .header-section-navbar{
        justify-content: space-around;
        min-height: 100px;
    }
    .header-section-links{
        display: none;
    }
    .header-section-burger{
        display: flex;
    }
    .section-promo{
        flex-direction: column;
        min-height: 40vh;
    }
    .section-promo-shopwindow {
        flex-basis: 0;
        padding-bottom:30px ;
    }
    .section-promo-catalog-container{
        margin-top: 30%;
        margin-bottom: 30%;
        padding: 0 15px;
    }
    .section-promo-goods{
        display: none;
    }

    .section-collection{
        margin-bottom: -130px;
    }
    .section-collection__img{
      display: none;}

    .section-collection-content{
        flex-basis: 1;
        margin: 0 auto;
    }

    .section-footer__block{
        flex-direction: column
    }
    section-promo-goods{
        min-width: none;
    }
    .katalog-clock{
        min-width:0;
    }
  

    .p-footer{
        margin:  20px 0 20px 0
    }

    .section-store-container{
        max-width: 300px;
        margin: 80px auto 0 auto;
        flex-direction: column;
    }
    .store-container{
        display: none;
    }
    .section-brand-container{
        flex-direction: column
        
    }
};



// Устройства Medium (планшеты, 768 пикселей и выше)
@media screen and (max-width: 768px) { };



// Устройства Small (телефоны с горизонтальной ориентацией, 576 пикселей и выше)
@media (max-width: 576px) {  };



