body{
    font-family:PT Sans;
    box-sizing: border-box;
    background:black;
    
}

*{
    box-sizing: border-box;
}

.section-inner{
    // border-left:1px solid silver ;
    // border-right:1px solid silver ;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    
    // border: bisque 5px solid;
    }


    @mixin Playfair{
        font-family:Playfair Display ;
       
    }

    @mixin PTsans{

        
        
        font-family:PT Sans;
    }

    .button {
            display: block;
            border:none;
            outline: none;
            background: none;
            margin: 0 auto;
            padding: 12px 28px;
            border: 1px solid silver;
            color: cornsilk;
            font-size: 18px;
            font-family:PT Sans ;
            letter-spacing: 0.1em;
            text-transform: uppercase;
    }
    .button:hover{
            background-color:white ;
            color:black;
    }

    .katalog-clock{
            background-color: #191B1C;
            min-width: 200px;
            
            color:blanchedalmond;
            &__img{
                padding: 50px 10px 40px 10px;
            }
            &__img:hover{
                padding: 30px 10px 20px 10px;
                background-color: gray;
                margin-bottom: 40px;
            }
            &__title{
                text-align: left;
                background-color: black;
                padding-top: 20px;
            }
            &__subtitle{
                text-align: left;
                color:#D0D0D0;
                background-color: black;
                padding-top: 10px;
            }
        
       
    }
    .katalog-clock:hover{
        background-color: black;
    }


    .title{
            position: relative;
            text-align: center;
            font-family:Playfair Display ;
            font-weight: bold;
            color:white;
            font-size: 36px;
            text-transform: uppercase;
            margin-bottom: 10%;
            
            
        }
        .title:after{
            content: "";
            width: 30%;
            height: 1px;
            background-color: white;
            position: absolute;
            bottom:-40%;
            left: 35%;
            
            
            
        }

        .active {
            display: block;
        }


        .activeFlex{
            display: flex;
        }
        .nonactive{
            display: none;
        }

        