body{
    font-family:PT Sans;
    box-sizing: border-box;
    background:#0F0F0F ;
    
}



.section-inner{
    border-left:1px solid silver ;
    border-right:1px solid silver ;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
     min-height: 100vh;
    padding-left: 15px;
    padding-right: 15px;
    }