
  @media (max-width: 992px) {
    .section-promo{
        flex-direction: column;
    }
};


.section-promo{
  
    
    
        display: flex;  
        min-height: 90vh;
        
    
    &-shopwindow{
        
        background-color:black;
        flex-basis: 55%;
        display: flex;
        flex-direction:column;
        justify-content: space-around;
        align-items: center;
    }
    &-data{
        color:white;
        font-family: Playfair Display;
        font-weight: 700;
        font-size: 36px;
        position: relative; 
       margin-top: 20px;
        
    }
   

    &-goods{
        margin-top: 40px;
        margin-bottom: 50px;
        display: flex;
        justify-content: space-around;
        max-width: 800px;
        min-width: 800px;
        color:white;
        font-family: Playfair Display;
        font-weight: 400;
        font-size: 18px;

    }
    &-catalog{
        flex-basis: 45%;
        background:url(/img/promo/newcolection.png) no-repeat ;
        background-size: cover;
        position: relative;
        &-container{
            
            width: 100%;
            max-width: 400px;
            margin: 60% auto 0 auto;
        }
       
      
        
    }


}