


.section-store{  
    background-color: black;
    min-height: 100vh;
    &__title{
        width: 450px;
        margin: 120px auto 80px auto;
    }

    &-container{
        margin-top: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

